[sizes]
x = 10
y = 10

[reactor]
# температура
T = 1200

# концентрация водорода
C(H) = 1e-9

# концентрация метил-радикала
C(CH3) = 1e-10


[Abs H reaction]
#fake
k = 5.2e14
#real
#k = 5.2e13
E = 6652.8

[Add H reaction]
#fake
k = 2.0e13
E = 0
#real
#k = 2.0e13

[Form dimer reaction]
#fake
k = 1e4
#real
#k = 1e12
E = 697.554

[Drop dimer reaction]
#fake
k = 4.79e5
#real
#k = 4.79e13
E = 14248.08

[Add CH2 reaction]
#fake
k = 1e16
#real
#k = 1e13
E = 0

[Etching reaction]
k = 0
E = 0
coef = 1e-5

[Migration H reaction]
#fake
k = 2.3e-7
#real
#k = 2.3e5
E = 51100

[Migration bridge reaction]
#fake
k = 6.13e5
#real
#k = 6.13e13
E = 36.17262

[Migration down front reaction]
k = 6.13e4
E = 36.17262
